@model List<MarketDetail>
@{
    var details = Model;
}
@for (var i = 0; i < details.Count; i+=3)
{
    <div class="row">
        <partial name="../Home/Detail/_MarketDetails" model="details.ElementAt(i)" />
        @if (i + 1 < details.Count)
        {
            <partial name="../Home/Detail/_MarketDetails" model="details.ElementAt(i + 1)" />
        }
        @if (i + 2 < details.Count)
        {
            <partial name="../Home/Detail/_MarketDetails" model="details.ElementAt(i + 2)" />
        }
    </div>
}