
<div class="col-xs-3 card">
    <span class="card-title" style="text-align: center;">台北門市</span>
    <div style="height:200px">
        <img src="~/images/market01.jpg" style="width:250px;" />
    </div>
    <span style="text-align: center;font-weight:bold;color:royalblue"><a href="https://www.google.com.tw/" target="_blank">台北內湖區瑞光路258巷39號</a></span>
    <br />
    <span>電話：02 2838 1988</span>
    <span>營業時間：6:30～23:00</span>
</div>
<div class="col-xs-1"></div>
<div class="col-xs-3 card">
    <span class="card-title" style="text-align: center;">台中門市</span>
    <div style="height:200px">
        <img src="~/images/market02.jpg" style="width:250px;" />
    </div>
    <span style="text-align: center;font-weight:bold;color:royalblue"><a href="https://tw.yahoo.com/" target="_blank">台中市北屯區崇德路二段16號</a></span>
    <br />
    <span>電話：04 2233 7666</span>
    <span>營業時間：6:30～23:30</span>
</div>
<div class="col-xs-1"></div>
<div class="col-xs-3 card">
    <span class="card-title" style="text-align: center;">高雄門市</span>
    <div style="height:200px">
        <img src="~/images/market03.jpg" style="width:250px;" />
    </div>
    <span style="text-align: center;font-weight:bold;color:royalblue"><a href="https://www.dcard.tw/f" target="_blank">高雄市左營區新庄仔路395號</a></span>
    <br />
    <span>電話：07 360 2027</span>
    <span>營業時間：6:30～23:30</span>
</div>