@{
    
}
@v.FirstOrDefault().Foods.FoodId.FirstOrDefault()
<div style="text-align:center;margin:50px">
    <span style="font-size:16pt">輸入卡路里：</span>
    <input type="text" id="recipe_calories"/>
    <br />
    <span class="sportButton" style="margin:30px" id="btn_recipeSearch"><span>查詢</span></span>
</div>