
@{
}
<style>
    .row > .col-sm-3 > ul > li {
        border-bottom: 2px solid #36b9f4;
    }
</style>
<div class="row">
    <div class="col-sm-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#shop_man">
                    <span>男裝</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#shop_woman">
                    <span>女裝</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#shop_towel_burner">
                    <span>毛巾/燃脂帶</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#shop_gloves_waist">
                    <span>手套/護腰</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#shop_massage">
                    <span>按摩器材</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#shop_drinks">
                    <span>健身飲品</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div class="tab-content">
            <div id="shop_man" class="tab-pane fade">
            </div>
        </div>
    </div>
</div>