@model Member;
@{
    var member = Model;
}
<partial name="TitleBar" />

<partial name="TitleBarDetail" model="member" />

@section scripts
{
    <script>
        let calories;
        //性別
        $("[name=radio_gender]").on("click", function () {
            $("#gender").val($(this).val());
        });

        //運動類型
        $("[name=sport]").on("click", function () {
            $("#sportType").val($(this).val());
            $("[name=sport]").css('background-color','white');
            $("[name=sport]").css('color','black');
            $(this).css('background-color','#008CBA');
            $(this).css('color','white');
        });

        //計算熱量和bmi
        $("#calculation").on("click", function () {
            calories = $("#Calories").html();

            let height = $("#height").val();
            let weight = $("#weight").val();

            height = parseInt(height) / 100;

            let bmi = parseInt(weight) / height / height;

            $("#Calories").empty();
            $("#Calories").append("<div style='text-align:center'><label style='font-size:22pt'>測量結果</label><br /><br /><label style='font-size:22pt'>ＢＭＩ：<label id='bmi'></label></label><br /><br /><label style='font-size:22pt'>熱量建議：<label id='caloriesSuggest'></label></label></div>");
            $("#bmi").html(bmi);
            $("#caloriesSuggest").html("");
        });

        //重置計算熱量按鈕
        $("#titleCalories").on("click", function () {
            if (calories == undefined) {
                return;
            }
            $("#Calories").empty();
            $("#Calories").append(calories);
        });
    </script>
}