
<nav class="nav navbar-inverse" style="margin-top: 15px;">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a data-toggle="tab" href="#Calories" style="padding: 15px 40px; font-size: 16px">
                    <span class="glyphicon glyphicon-star"></span>計算熱量
                    <span class="glyphicon glyphicon-star"></span>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#Recipe" style="padding: 15px 40px; font-size: 16px">
                    <span class="glyphicon glyphicon-book"></span>食譜推推
                    <span class="glyphicon glyphicon-book"></span>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#Food" style="padding: 15px 40px; font-size: 16px">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>食物查詢
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#Sports" style="padding: 15px 40px; font-size: 16px">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>我要運動
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#Shop" style="padding: 15px 40px; font-size: 16px">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>商品販售
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#Market" style="padding: 15px 40px; font-size: 16px">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>門市資訊
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>