@{

}
@*標籤列內容*@
    <div class="tab-content" style="margin-top: 15px;">
        @*計算熱量*@
        @*<div id="Calories" class="tab-pane fade in active"/>*@
        <div id="Calories" class="tab-pane fade">
            <h3 style="background-color: #dfa4f8">計算熱量</h3>
        </div>
        @*食譜推推*@
        <div id="Recipe" class="tab-pane fade" style="background-color: #b3efb6">
            <h3 style="background-color: #dfa4f8">食譜推推</h3>
        </div>
        @*食物查詢*@
        <div id="Food" class="tab-pane fade" style="background-color: #f7c875">
            <h3 style="background-color: #c0f77c">食物查詢</h3>
        </div>
        @*我要運動*@
        <div id="Sports" class="tab-pane fade">
            <h3 style="background-color: #dfa4f8">我要運動</h3>
        </div>
        @*商品販售*@
        <div id="Shop" class="tab-pane fade">
            <h3 style="background-color: #dfa4f8">商品販售</h3>
        </div>
        @*門市資訊*@
        <div id="Market" class="tab-pane fade">
            <h3 style="background-color: #dfa4f8">門市資訊</h3>
        </div>
    </div>