<div class="card" style="margin:100px auto 30px auto">
    <span class="card-title">帳號</span>
    <input type="text" id="login_account">
    <span class="card-title">密碼</span>
    <input type="password" id="login_password">
</div>
<div class="center" style="margin:30px auto;width:250px">
    <button class="sportButton redButton cancel"><span>取消</span></button>
    <button class="sportButton" style="float:right" id="btn_login"><span>登入</span></button>
</div>