<div style="width:60%;height:300px;margin:50px auto;text-align:center">
    <div class="card" style="width:auto;background-color:white">
        <span class="card-title" style="color:red;font-size:26pt">註冊成功！</span>
        <span>正在準備跳轉回起始頁面...</span>
        <img src="~/images/reload.gif" style="width:250px;margin:0 auto" />
    </div>
</div>