<style>
    .registered{
        padding:10px 0px;
    }
</style>

<div style="width:52%;margin:0px auto">
    <div class="row registered">
        <span>姓名：</span>
        <input type="text">
        <span style="padding-left:8%">帳號：</span>
        <input type="text">
    </div>
    <div class="row registered">
        <span>性別：</span>
        <input type="text">
        <span style="padding-left:8%">密碼：</span>
        <input type="text">
    </div>
    <div class="row registered">
        <span>生日：</span>
        <input type="text">
        <span style="padding-left:8%">身高：</span>
        <input type="text">
    </div>
    <div class="row registered">
        <span>暱稱：</span>
        <input type="text">
        <span style="padding-left:8%">體重：</span>
        <input type="text">
    </div>
    <div class="row registered">
        <span>電話：</span>
        <input type="text">
        <span style="padding-left:8%">Mail：</span>
        <input type="text">
    </div>
    <div class="row center" style="margin:30px auto;width:300px">
        <button class="sportButton redButton"><span>取消</span></button>
        <button class="sportButton" style="float:right"><span>註冊</span></button>
    </div>
</div>