<div>
    <div class="row">
        <div class="col-sm-1">
            <span style="font-size:16pt">日期：</span>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class='input-group date' id='track_picker'>
                    <input type='text' class="form-control" id="track_date" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <span style="font-size:16pt">熱量：</span>
        </div>
        <div class="col-sm-3">
            <input type="text" id="track_calories" />
        </div>
        <div class="col-sm-1">
            <span style="font-size:16pt">體重：</span>
        </div>
        <div class="col-sm-3">
            <input type="text" id="track_weight" />
        </div>
    </div>
    <span class="sportButton" style="margin:30px" id="btn_trackInsert"><span>新增紀錄</span></span>
    <span class="sportButton redButton" id="btn_trackHistory_calories"><span>熱量歷史紀錄</span></span>
    <span class="sportButton redButton" id="btn_trackHistory_weight"><span>體重歷史紀錄</span></span>
    <span class="sportButton" style="margin-left:30px;display:none" id="btn_lastMonth"><span class="glyphicon glyphicon-chevron-left"></span></span>
    <span style="color:green" id="track_displayDate"></span>
    <span class="sportButton" style="display:none" id="btn_nextMonth"><span class="glyphicon glyphicon-chevron-right"></span></span>
    <input type="hidden" id="track_historyYear" style="display:none" />
    <input type="hidden" id="track_historyMonth" style="display:none" />
    <span style="color:red" id="track_alert"></span>
    <input type="date" id="track_historyDate" style="display:none" />
    <br />
    <div id="canvasDiv">
        <canvas id="canvas"></canvas>
    </div>
</div>