<div>
    <div class="row">
        <div class="col-sm-1">
            <span style="font-size:16pt">日期：</span>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class='input-group date' id='track_picker'>
                    <input type='text' class="form-control" id="track_date" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <span style="font-size:16pt">熱量：</span>
        </div>
        <div class="col-sm-3">
            <input type="text" id="track_calories" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <span style="font-size:16pt">體重：</span>
        </div>
        <div class="col-sm-3">
            <input type="text" id="track_weight" />
        </div>
    </div>
    <span class="sportButton redButton" id="btn_trackHistory"><span>歷史紀錄</span></span>
    <span class="sportButton" style="margin:30px" id="btn_trackInsert"><span>新增紀錄</span></span>
    <span style="color:red" id="track_alert"></span>
    <br />
    <canvas id="canvas"></canvas>
</div>